* {
    box-sizing: border-box;

}

body {
    background: hsl(0, 0%, 8%);
    font-family: 'Inter', 'sans-serif', 'normal';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:hsl(0, 0%, 12%) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    width:25rem;
    border-radius: 5%;
}


.user img {
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
}

.user h1 {
    color: white;
    margin: 10px;

}

.user h2 {
    color: hsl(75, 94%, 57%);
    font-size: medium;
    padding: 2px;
}

.user p {
    color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: small;
    
}


.list li   {
    list-style-type: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
    width: 30vh;
    margin: 10px;
    justify-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    
  }
  
.list li:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}



@media (width:375px) {}