

body {
    background: hsl(0, 0%, 8%);
    font-family: 'Inter', 'sans-serif', 'normal';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:hsl(0, 0%, 12%) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    width: 18rem;
    border-radius: 5%;
}


.user img {
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
}

.user h1 {
    color: white;
    margin: 10px;
    font-weight: normal;
}

.user h2 {
    color: hsl(75, 94%, 57%);
    font-size: medium;
    padding: 2px;
    font-weight: normal;
}

.user p {
    color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: small;
    
}

.list ul {
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0
    ;
}

.list li   {
    list-style-type: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    padding: 15px 0 15px 0;
    width: 31vh;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 6px;
  }
  
.list li:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}



@media (width:375px) {}